body {
  margin: 50px;
  font-family: "Avenir", sans-serif;
  background-color: #DCEDC8;
  font-size: 17px;
  color: black;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 120px;
  width: 100%;
  z-index: 1;
  background-color: white;
}

.header > img {
  position: absolute;
  top: 0;
  left: 0;
  height: 120px;
}

.header h1 {
  text-align: center;
  color: #455A64;
  margin-top: 37px;
}

h2 {
  width: 100%;
  position: relative;
  top: 120px;
  text-align: center;
  color: #607D8B;
  margin: 0;
}

.species-map {
  position: absolute;
  height: 1200px;
  width: 1200px;
  top: 240px;
  left: 50%;
  transform: translate(-50%, 0);
  display: block;
  margin: 0 auto;
}

.animal-icon {
  display: inline-block;
  width: 125px;
  text-align: center;
}

.animal-icon > p {
  margin: 0;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px gray;
}

.animal-picture {
  width: 100px;
  opacity: .85;
  border-radius: 100px;
}

#world-map {
  width: 1200px;
  position: relative;
  left: 30px;
  border-radius: 48%;
  z-index: -1;
}

.animal-detail {
  display: none;
  height: auto;
  width: 300px;
  background:rgba(0,0,0,0.5);
  border-radius: 10px;
  transform: translate(-30%, 0);
  color: white;
  font-size: 15px;
  padding: 10px;
  position: relative;
  z-index: 1;
}

#bat {
  position: absolute;
  top: 160px;
  right: 200px;
}

#bat:hover > #bat-detail {
  display: block;
}

#dik {
  position: absolute;
  top: 270px;
  left: 650px;
}

#dik:hover > #dik-detail {
  display: block;
}

#echidna {
  position: absolute;
  top: 370px;
  right: 105px;
}

#echidna:hover > #echidna-detail {
  display: block;
}

#snail {
  position: absolute;
  top: 50px;
  left: 560px;
}

#snail:hover > #snail-detail {
  display: block;
}

#marmoset {
  position: absolute;
  top: 280px;
  left: 340px;
}

#marmoset:hover > #marmoset-detail {
  display: block;
}

#pika {
  position: absolute;
  top: 75px;
  left: 190px;
}

#pika:hover > #pika-detail {
  display: block;
}

#seal {
  position: absolute;
  top: 430px;
  left: 500px;
}

#seal:hover > #seal-detail {
  display: block;
}
